# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Logs & databases
*.log
*.sqlite3

# Model files (if saved locally)
models/
*.pkl
*.h5
*.joblib
*.pt

# Environment variables
.env